@import "paper/variables";

$form-group-margin-bottom:       10px;
//** Default `.form-control` height
$input-height-base:              ($line-height-computed + $padding-base-vertical + 2) !default;
//** Large `.form-control` height
$input-height-large:             (ceil($font-size-large * $line-height-large) + $padding-large-vertical + 2) !default;
//** Small `.form-control` height
$input-height-small:             (floor($font-size-small * $line-height-small) + $padding-small-vertical + 2) !default;

/* bootstrap */
@import "../../vendor/twbs/bootstrap-sass/assets/stylesheets/bootstrap";
/* bootswatch */
@import "paper/bootswatch";

label {
	margin-bottom: 0;
}