.idea
nbproject
build/
vendor/
web/bundles/
web/css/
web/js/
web/fonts/
app/config/parameters.yml
app/bootstrap.php.cache
app/SymfonyRequirements.php
app/cache/*
app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
bin/*
!bin/console
!bin/symfony_requirements
composer.phar
composer.lock
src/AppBundle

bin/
