{% extends "UserBundle:User:get.html.twig" %}

{% block additional_user_content %}
	{% trans_default_domain 'UserBundle' %}
	<h4>{{'teacher.consultingHours.label'|trans}}</h4>
	{{user.consultingHours}}
	{% for tch in user.consultingHours %}
				<div class="form-group">
					<label class="control-label">{{'user.modified.label'|trans}}</label>
					<div>{{tch.when}}</div>
				</div>
	{% endfor %}
{% endblock %}
